

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function isValidSize(maxMb) {
      return request.resource.size < maxMb * 1024 * 1024;
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }

   
    match /avatars/{uid}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == uid && isImage() && isValidSize(8);
    }

   
    match /activities/{activityId}/documentation/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && isValidSize(25);
    }

    match /activities/{activityId}/attachments/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && isValidSize(25);
    }

   
    match /logo/{fileName} {
      allow read: if isSignedIn();
      allow write: if false;
    }

    
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
